# Tuplas e Listas

Tuplas são coleçẽso de elementos que não podem ser alterados em tempo de execução.

In [94]:
# Usamos parênteses
tupla1 = ('Julia', 'Rodrigo', 'Marcelo')
type(tupla1)

tuple

In [95]:
# Mas não são obrigatórios
tupla2 = 'Julia', 'Rodrigo', 'Marcelo'
type(tupla2)

tuple

In [96]:
# Pode ter dados de tipos diferentes
pessoa = ('Felipe', 15, 'M', 50.02)

In [97]:
# Lista elementos específicos
tupla1[1]

'Rodrigo'

In [98]:
# Imutável - Não pode alterar o valor
tupla1[0] = 'Juliana'

TypeError: 'tuple' object does not support item assignment

In [99]:
# Imutável - Não pode adicionar novos elementos
tupla1[3] = 'Paulo'

TypeError: 'tuple' object does not support item assignment

In [100]:
print(tupla1)

('Julia', 'Rodrigo', 'Marcelo')

In [101]:
# Fatia
tupla1[1:3]

('Rodrigo', 'Marcelo')

In [102]:
# Imprime de uma forma mais controlada e elegante
for pessoa in tupla1:
    print(pessoa)

Julia
Rodrigo
Marcelo

In [103]:
# Tamanho da tupla
len(tupla1)

3

In [104]:
# Posição de cada elemento
for  pos, pessoa in enumerate(tupla1):
    print(f'{pessoa} na posição {pos}')

Julia na posição 0
Rodrigo na posição 1
Marcelo na posição 2

In [105]:
# Ordenando
num = 2,7,8,3,9,5
sorted(num)

[2, 3, 5, 7, 8, 9]

In [106]:
# Unindo
a = 1, 7, 4, 3
b = 9, 3, 0, 4
c = a + b
print(c)

(1, 7, 4, 3, 9, 3, 0, 4)

In [107]:
# Conta a ocorrencia de um dado elemento
c.count(3)

2

In [108]:
# Posicao do elemento
c.index(9)

4

In [109]:
# Apagar a tupla
del(tupla1)

In [110]:
# Já era
print(tupla1)

NameError: name 'tupla1' is not defined

# Listas

Listas também são coleções de elementos que podem ser de diversos tipos, mas são mutáveis. Podem ser alterados e podemos adicionar novos emlementos.

In [156]:
# Criando uma lista
pessoas = ['Jorge', 'Luiza', 'Felipe', 'Ana']

In [157]:
# Tipos de dados diferentes
pessoa = ['Jorge', 1.69, 30]

In [158]:
# Fatia
pessoas[1:3]

['Luiza', 'Felipe']

In [159]:
# Reverso
pessoas[-1]

'Ana'

In [160]:
pessoas[:-4:-1]

['Ana', 'Felipe', 'Luiza']

In [161]:
# Altera valor
pessoas[0] = 'Luana'

In [162]:
pessoas

['Luana', 'Luiza', 'Felipe', 'Ana']

In [163]:
# Adiciona elemento
pessoas.append('Cecília')

In [164]:
pessoas

['Luana', 'Luiza', 'Felipe', 'Ana', 'Cecília']

In [165]:
# Insere em posicao especifica
pessoas.insert(1,"Pedro")
pessoas

['Luana', 'Pedro', 'Luiza', 'Felipe', 'Ana', 'Cecília']

In [172]:
# Ordenação
sorted(pessoas)

['Ana', 'Cecília', 'Felipe', 'Luana', 'Luiza', 'Pedro']

In [173]:
# Reveso
sorted(pessoas, reverse=True)

['Pedro', 'Luiza', 'Luana', 'Felipe', 'Cecília', 'Ana']

In [122]:
# Remove elemento
pessoas.remove('Ana')

In [123]:
pessoas

['Luana', 'Pedro', 'Luiza', 'Felipe', 'Cecília']

In [124]:
# Remover o último com pop
pessoas.pop()

'Cecília'

In [125]:
pessoas

['Luana', 'Pedro', 'Luiza', 'Felipe']

In [126]:
# Remover a partir do index
del pessoas[0]

In [127]:
pessoas

['Pedro', 'Luiza', 'Felipe']

In [128]:
# Del pode deletar a lista inteira
pessoas = ['Jorge', 'Luiza', 'Felipe', 'Ana']
pessoas

['Jorge', 'Luiza', 'Felipe', 'Ana']

In [129]:
del pessoas

In [130]:
pessoas

NameError: name 'pessoas' is not defined

In [131]:
pessoas = ['Jorge', 'Luiza', 'Felipe', 'Ana']

In [132]:
# Limpa a lista
pessoas.clear()

In [133]:
# Existe, mas está vazia
pessoas

[]

In [134]:
# Imprime elemento com for
for p in pessoas:
    print(p)

In [135]:
# Verificar se existe um item
'Felipe' in pessoas

False

In [136]:
# Tamanho
len(pessoas)

0

In [137]:
nomes = ['Barbara', 'Daryna','Elyssa', 'Felicia','Gloria','Helena','Isadora','Julia','Katya','Lisa','Maya','Nadia','Olivia']

In [138]:
# Cópia idêntica vinculada (Se alterar uma, altera a outra)
nomes2 = nomes

In [139]:
nomes2

['Barbara',
 'Daryna',
 'Elyssa',
 'Felicia',
 'Gloria',
 'Helena',
 'Isadora',
 'Julia',
 'Katya',
 'Lisa',
 'Maya',
 'Nadia',
 'Olivia']

In [140]:
nomes2.append('Paula')

In [142]:
nomes2

['Barbara',
 'Daryna',
 'Elyssa',
 'Felicia',
 'Gloria',
 'Helena',
 'Isadora',
 'Julia',
 'Katya',
 'Lisa',
 'Maya',
 'Nadia',
 'Olivia',
 'Paula']

In [143]:
# Foi adicionado também na lista original
nomes

['Barbara',
 'Daryna',
 'Elyssa',
 'Felicia',
 'Gloria',
 'Helena',
 'Isadora',
 'Julia',
 'Katya',
 'Lisa',
 'Maya',
 'Nadia',
 'Olivia',
 'Paula']

In [144]:
# Cópia sem vínculo
nomes2 = nomes.copy()

In [145]:
nomes2.append('Qiana')
nomes2

['Barbara',
 'Daryna',
 'Elyssa',
 'Felicia',
 'Gloria',
 'Helena',
 'Isadora',
 'Julia',
 'Katya',
 'Lisa',
 'Maya',
 'Nadia',
 'Olivia',
 'Paula',
 'Qiana']

In [146]:
nomes

['Barbara',
 'Daryna',
 'Elyssa',
 'Felicia',
 'Gloria',
 'Helena',
 'Isadora',
 'Julia',
 'Katya',
 'Lisa',
 'Maya',
 'Nadia',
 'Olivia',
 'Paula']

In [147]:
# Unir duas listas
a = [1,5,6,7]
b = [4,9,8,7]
c = a + b

In [149]:
c

[1, 5, 6, 7, 4, 9, 8, 7]

In [151]:
# Funções Built-in
idades = [20,30,52,12,76,35]

In [152]:
# Maior valor
max(idades)

76

In [153]:
# Menor valor
min(idades)

12

In [154]:
# Somatório
sum(idades)

225

## Fim