# 1. Hello Word e Comentários

In [154]:
# Tudo começa com o Hello World!
print('Hello world')

Hello world

In [1]:
# Comentários de uma linha
# usa-se o símbolo de hashtag para comentar seu código

In [ ]:
# Comentários com mais de uma linha
'''
Usamos 3 aspas simples ou duplas
para abrir e fechar
'''

In [2]:
# Podemos usar aspas simples ou duplas para as Strings
print('Hello World')
print("Hello World")

Hello World
Hello World

# 2. Operações básicas

In [135]:
# Soma
2+2
# Ou usa o print
print(2+2)

4

In [136]:
# Subtração
2-1

1

In [137]:
# Multiplicação
2*5

10

In [138]:
# Divisão
10/2

5.0

In [7]:
# Exponenciação
2**3

8

In [158]:
# Módulo da divisão, resto da divisão de 3 por 2
3%2

1

In [6]:
# Parte inteira da divisão
10//3

3

In [8]:
# O limite é a memória
#3445**6435

### Expressões aritméticas

In [163]:
# Ordem de precedência
# exponenciação, multiplicação e divisão, soma e subtração

In [165]:
2**3 - 1 + 6 - 10 * 8 - 0.5

-67.5

In [167]:
# Para priorizar uma operação, use parênteses
2**3 - (1 + 6) - 10 * (8 - 0.5)

-74.0

# 3. Tipos de dados

- Texto:	str
- Numéricos:	int, float, complex
- Sequencias:	list, tuple, range
- Mapeamento:	dict
- Coleções:	set, frozenset
- Booleano:	bool
- Binários:	bytes, bytearray, memoryview

### Verificando tipo com a função type()

In [168]:
type('Texto')

str

In [169]:
type(1)

int

In [171]:
type(2.99)

float

In [176]:
type(True)

bool

### Definindo e Convertendo tipos

In [182]:
# Inteiro para string
str(200)

'200'

In [183]:
# Float para int
int(23.99)

23

In [184]:
# String para float
float('23.98')

23.98

In [186]:
# Booleando para int
int(False)

0

In [188]:
# Hexadecimal e Binário
hex(10)

'0xa'

In [190]:
bin(10)

'0b1010'

# 4. Variáveis

- Para declarar uma variável basta escolher um nome e atribuir um valor.
- A recomendação é que o nome seja coerente com o valor, por exemplo idade, nome, telefone, email etc.
- Regras: pode usar de A a Z, maiuscula ou minuscula, underline, acento, jamais caracteres especiais
- Regras: tem que começar com underline ou letras
- Regras: não pode usar palavras reservadas
- Para atribuir um valor usamos o sinal de = assim como na grande maioria das linguagens.

### Palavras reservadas
#and, as, assert, break, class, continue, def, del, elif, else, except, exec, finally, for, from, global, if, import, in, is, lambda, nonlocal, not, or, pass, raise, return, try, while, with, yield, True, False, None

In [191]:
# Cria a variável com o tipo que quiser
nome = 'João'

Python é fracamente tipada, ou seja, é definido o tipo da variável na atribuição do valor, nas linguagens fortemente tipadas como Java, somos obrigados a passar explicitamente o tipo que queremos.

In [196]:
# Errados
2nome = "Maria"
meu-nome = "Maria"
minha var = "Maria"
$var = 200

SyntaxError: invalid syntax (<ipython-input-196-bc9e7f8ad19e>, line 2)

In [197]:
# Vários valores para várias variáveis
x, y, z = 10, 20, 30

In [199]:
x, y, z

(10, 20, 30)

In [201]:
# O mesmo valor para várias variáveis
x = y = z = 0

In [202]:
x

0

In [203]:
# Saídas
print(x)

0

In [206]:
print('O valor de x é: ', x)

O valor de x é:  0

In [209]:
# Uma simples operação usando a variável e outro número qualquer
num = 200
2 * num

400

In [210]:
# Python permite replicar uma string facilmente
20 * '-'

'--------------------'

In [214]:
# Identificador na memória
id(num)

94621154139104

In [221]:
# Imprime vários dados na mesma linha
nome = 'Juliana'
idade = 23
peso = 54.4
print(nome, idade, peso)

Juliana 23 54.4

In [222]:
# Print formatado (Python 3)
print(f'Nome: {nome} Idade: {idade} Peso: {peso}')

Nome: Juliana Idade: 23 Peso: 54.4

In [223]:
# Quebra de linha - \n
print(f'Nome: {nome}\nIdade: {idade}\nPeso: {peso}')

Nome: Juliana
Idade: 23
Peso: 54.4

In [224]:
# Use ; para digitar vários comandos na mesma linha
print("Python"); print("A linguagem poderosa!");

Python
A linguagem poderosa!

In [218]:
# Operação x Concatenação
print('7'+'4')

74

In [219]:
print(7 + 4)

11

In [1]:
print(7, 4)

7 4

### Entrada de Dados

In [3]:
nome = input('Qual o seu nome?')

Qual o seu nome?João

In [4]:
print(nome)

João

In [5]:
print(f'Bem vindo {nome}')

Bem vindo João

## Exercício - Calcular a média de 2 notas

In [134]:
nota1 = 7
nota2 = 8
media = (nota1+nota2)/2
media

7.5

## Fim